
* {
    margin: 0;
    padding: 0;
}

.viz {
    background-color: #fff;
    font-size: 14px;

    text.label.gutter {
        cursor: pointer;
        font-size: 18px;
    }

    .x.axis {
        path.domain {
            fill: #777;
        }
        text {
            fill: #333;
        }
        line {
            stroke: #d9d9d9;
            shape-rendering: crispEdges;
            stroke-dasharray: 1,1;
        }
    }

    .event {
        cursor: pointer;
        stroke-width: 1;
        stroke: #222;
    }

    .event.dest {
        fill-opacity: .4;
        stroke-width: 0;
    }

    .channel {
        stroke: #555;
    }
}